# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable Block Comment': 'block-comment:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Block Comment'
      'submenu': [
        { 'label': 'Toggle', 'command': 'block-comment:toggle' }
      ]
    ]
  }
]
